service: todox
image: paganotoni/todox
servers:
  web:
    hosts:
      - <%= ENV['PRODUCTION_SERVER_IP'] %>
    options:
      cpus: 1

volumes:
  - /data/todox:/data/todox

registry:
  server: "localhost:5555"

env:
  clear:
    GO_ENV: production
    DATABASE_URL: /data/todox/database.db
    PORT: 80
  secret:
    - SESSION_SECRET

proxy:
  ssl: true
  host: todox.antoniopagano.com

builder:
  arch: amd64
  cache:
    type: gha
