{{ define "todo"}}
    <li id="element_{{.ID}}" class="p-3 border {{if .Completed}} bg-gray-50 {{else}} bg-white {{end}} flex flex-row items-center rounded gap-2">
        <span>
            <div class="flex h-6 items-center">
                <input id="complete_{{.ID}}" hx-put="/{{.ID}}/complete" hx-target="closest li" hx-swap="outerHTML" aria-describedby="comments-description" name="completed" type="checkbox" class="h-5 w-5 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" {{if .Completed}} checked {{end}}>
            </div>
        </span>

        <span class="flex-grow items-center">
            {{if not .Completed}}
                <span hx-get="/{{.ID}}/edit" hx-target="closest li" hx-swap="outerHTML" class="underline cursor-pointer underline flex flex-row gap-2 items-center" _="on htmx:afterRequest if detail.successful tell #content set you.value to ''">
                    {{.Content}}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                    </svg>
                </span>
            {{else}}
                <span class="line-through">{{.Content}}</span>
            {{end}}
        </span>
        
        <span hx-delete="/{{.ID}}" hx-target="#element_{{.ID}}" hx-swap="outerHTML" class="bg-red-500 text-white py-2 px-3 rounded cursor-pointer" hx-confirm="Are you sure you wish to delete this TODO?" _="on htmx:afterRequest if detail.successful send keyup to #search">Delete</span>
    </li>
{{end}}